<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<!--/* layout:decorate="~{붙일 레이아웃 경로}" : 내 조각이 붙여질 위치 */-->
<div layout:fragment="content">
    <div class="container-sm">
        <h3> [ no. [[${board.bno}]] ] detail page</h3>
        <form action="/board/modify" method="post" id="modForm">
        <input type="hidden" name="bno" th:value="${board.bno}">
            <div class="mb-3">
                <label for="t" class="form-label">Title</label>
                <input type="text" name="title" th:value="${board.title}" readonly class="form-control" id="t" placeholder="title...">
            </div>
            <div class="mb-3">
                <label for="w" class="form-label">Writer</label>
                <input type="text" name="writer" th:value="${board.writer}" readonly class="form-control" id="w" placeholder="writer...">
            </div>
            <div class="mb-3">
                <label for="r" class="form-label">regDate</label>
                <input type="text" name="regDate" th:value="${board.regDate}" readonly class="form-control" id="r" placeholder="regDate...">
            </div>
            <div class="mb-3">
                <label for="c" class="form-label">Content</label>
                <textarea class="form-control" name="content" id="c" readonly rows="5" cols="30" placeholder="Content...">[[${board.content}]]</textarea>
            </div>
        </form>
            <th:block sec:authorize="isAuthenticated()"
                      th:with="auth=${#authentication.getPrincipal()}">

            <th:block th:if="${auth.userVO.nickName eq board.writer}">
                <button type="button" class="btn btn-primary" id="modBtn">modify</button>
                <a th:href="@{/board/remove(bno=${board.bno})}"><button type="button" class="btn btn-danger" id="delBtn">delete</button></a>
            </th:block>
            </th:block>
            <a th:href="@{/board/list}"><button type="button" class="btn btn-success">list</button></a>

        <script th:src="@{/js/boardModify.js}"></script>
    </div>
</div>